name: CD

on:
  pull_request:
    branches: [ master ]
    types:
      - closed

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'development'
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests with coverage
        run: |
          pytest -q \
            --cov=. \
            --cov-report=term \
            --cov-report=xml \
            --cov-report=html

      - name: Prepare the webpage
        run: |
          mkdir sites
          mv htmlcov sites/
          mv coverage.xml sites/

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./sites

  deploy:
    needs: build
    if: github.event.pull_request.merged == true && github.event.pull_request.head.ref == 'development'
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
